* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

/* ---------------------------------------------
          SCROLL BAR STYLING
--------------------------------------------- */
.game-sec::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(119, 119, 117);
}

.game-sec::-webkit-scrollbar-thumb {
  background-color: rgb(255, 153, 58);
  border-radius: 30px;
}

/* .play{
  position: relative;
  left: 50%;
  transform: translate(-50%);
} */
.message {
  background: green;
}

.error {
  padding: 8px;
  background: red;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 153, 0);
}

/*--------------------------------------------
        LANDING PAGE STYLING
---------------------------------------------*/
#land-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/games-2025663_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-x: hidden;
}

nav {
  background: rgba(126, 126, 126, 0.521);
  height: 70px;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100vw;
  left: 0px;
  z-index: 1000;
}

nav img {
  height: 100%;
}

ul {
  float: right;
}

nav ul li {
  border-top: solid white;
  padding: 3% 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.678);
  border-bottom: solid white;
  border-top: 0px;
  margin-top: 2px;
}

/* ul li:nth-child(1){
  background: green;
  left: 50%;
  
} */
ul li {
  display: inline-block;
}

.home {
  margin-top: 30vh;
  padding: 30px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.445);
}

/*----------------------------------------
          GAME SECTION
  ----------------------------------------*/
.game-sec {
  background-image: url('../images/games-2025663_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 100vw;
  padding-top: 0;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  left: 100vw;
  padding-top: 100px;
  z-index: 1300;
  text-align: center;
}
.info-cont{
  min-height: 100px;
}
.info{
  background: rgb(255, 153, 0);
  margin-top: 5px;
  display: inline-block;
  width: 400px;
  max-width: 100%;
}
.players{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.players>div{
  width: 40vw;
  /* background: rgba(255, 255, 255, 0.5); */
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.player-1-btn{
  width: 50%;
}
.player-2-btn{
  width: 50%;
  position: relative;
  left: 50%;
}
.pl-1, .pl-2{
  background: rgba(255, 153, 0, 0.836);
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
}

.rolled-player-1, .rolled-player-2{
  font-size: 60px;
  background: rgba(255, 255, 255, 0.603);
}
.accumulated-player-1, .accumulated-player-2{
  padding: 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.678);
}
.total-player-1, .total-player-2{
  background: rgba(255, 255, 255, 0.849);
  font-size: 40px;
  text-align: left;
  padding: 10px;
}
.new-game{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}
#quit{
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 40px;
  cursor: pointer;
  /* float: right; */
}