* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

/* ---------------------------------------------
          SCROLL BAR STYLING
--------------------------------------------- */
.game-sec::-webkit-scrollbar,
#inst-cont::-webkit-scrollbar,
#land-page::-webkit-scrollbar
 {
  width: 5px;
  background-color: rgb(119, 119, 117);
}

.game-sec::-webkit-scrollbar-thumb, #inst-cont::-webkit-scrollbar-thumb,
#land-page::-webkit-scrollbar-thumb{
  background-color: rgb(255, 153, 58);
  border-radius: 30px;
}

/*-----------------------------------------------
          GENERAL PAGE STYLING
-----------------------------------------------*/
.message {
  background: green;
}

.error {
  padding: 8px;
  background: red;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 153, 0);
}

.shrink {
  height: 50px;
  padding: 5px;
}

button{
  border-radius: 30px;
}

.loader{
  text-align: center;
  padding-top: 30vh;
  height: 100vh;
  max-width: 100vw;
  position: relative;
  
}
.loader img{
  width: 30vw;
}
.none{
  display: none;
  /* top: -100vh; */
}

/*--------------------------------------------
        LANDING PAGE STYLING
---------------------------------------------*/
#land-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/games-2025663_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow-x: hidden;
}
.land-holder{
  position: relative;
  width: 100vw;
  background-attachment: red;
  height: 100vh;
  /* left: -100vw; */
}
nav {
  background: rgba(126, 126, 126, 0.521);
  height: 70px;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100vw;
  left: 0px;
  z-index: 1000;
}

nav img {
  height: 100%;
}

ul {
  float: right;
}

nav ul li {
  border-top: solid white;
  padding: 3% 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.678);
  border-bottom: solid white;
  border-top: 0px;
  margin-top: 2px;
}

ul li {
  display: inline-block;
}

.home {
  margin-top: 20vh;
  padding: 30px;
  text-align: center;
  color: white;
  background: rgba(20, 20, 20, 0.445);
  border-radius: 30px;
  border: 10px solid rgb(255, 145, 0);
}

/*---------------------------------------------
       Getting player details section
------------------------------------------------*/
.player-name {
  position: fixed;
  background: rgba(119, 119, 119, 0.973);
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0vh;
  z-index: 1200;
  /* transition: all 2s ease; */

}

.player-name form {
  position: relative;
  background: rgb(255, 174, 0);
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 600px;
  top: 10vh;
  padding: 30px 10px;
  text-align: center;
}

.player-name form input[type=text] {
  width: 48%;
  padding: 5px 10px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid black;
  border-radius: 30px;
}

/*----------------------------------------
          GAME SECTION
  ----------------------------------------*/
.game-sec {
  background-image: url('../images/games-2025663_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 100vw;
  padding-top: 0;
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  left: 100vw;
  padding-top: 100px;
  z-index: 1300;
  text-align: center;
}

.info-cont {
  min-height: 100px;
}

.info {
  background: rgb(255, 153, 0);
  margin-top: 5px;
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.players>div {
  width: 40vw;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.player-1-btn {
  width: 50%;
}

.player-2-btn {
  width: 50%;
  position: relative;
  left: 50%;
}

.pl-1,
.pl-2 {
  background: rgba(255, 153, 0, 0.836);
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
}

.rolled-player-1,
.rolled-player-2 {
  font-size: 60px;
  background: rgba(255, 255, 255, 0.603);
}

.accumulated-player-1,
.accumulated-player-2 {
  padding: 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.678);
}

.total-player-1,
.total-player-2 {
  background: rgba(255, 255, 255, 0.849);
  font-size: 40px;
  text-align: left;
  padding: 10px;
}

.new-game {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

#quit {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 40px;
  cursor: pointer;
}

/*----------------------------------------
          INSTRUCTIONS CONTAINER
--------------------------------------------*/
#inst-cont {
  background: rgba(255, 153, 0, 0.89);
  height: 100vh;
  width: 100%;
  padding: 0 10%;
  position: fixed;
  top: 0px;
  padding-top: 70px;
  padding-bottom: 20vh;
  display: none;
  overflow-y: auto;
  text-align: center;
}

span.instruct {
  background: rgba(255, 153, 0, 0.719);
  padding: 1px 10px;
  color: black;
  cursor: pointer;
}

span.instruct:hover {
  background: rgb(255, 166, 0);
  color: white;
}

.visible {
  left: 0;
}

.non-visible {
  left: 100vw;
  position: fixed;
}
.hidden{
  left: 100vw;
  /* transition: all 0.7s ease-in-out; */
}

/*----------------------------------------------
          MEDIA QUERIES
-------------------------------------------------*/
@media only screen and (max-width:600px) {
  .player-name form input[type=text] {
    width: 100%;
  }
}